.wrapper {
  background-image: url(/assets/backgrounds/products-page-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100% - 102px);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  background: #8fc23f;
  border-radius: 20px;
  font-size: 20px;
  color: white;

}

.imgWrapper {
    text-align: center;
  img {
    width: 300px;
    height: 300px;
  }

}

.imgWrapper,
.infoWrapper {
  width: 45%;
  padding: 20px;
}

.btn {
  padding: 0.5rem 1rem;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #004a31;
  color: white;
  border: none;
  margin-top: 1rem;
  margin-bottom: 20px;
  text-align: center;

  &:hover {
    background-color: #00583b;
  }

}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .imgWrapper,
  .infoWrapper {
    width: 100%;
  }

  .btn{
      width: 100%;
  }
}
